<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body style = "background-color: DodgerBlue;">
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style = "background:url(https://chandra.harvard.edu/photo/2016/ngc6357/ngc6357_4k.jpg); background-size: 100%; height: 100%;">
        <h1 style ="color: white; text-shadow: 2px 2px black;">Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class=".col-xs-8 .col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class=".col-xs-6 .col-md-8">
          <h2>Featured Mars Image</h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
            />
          </div>
        <div class=".col-xs-12.col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
            {{ mars.facts | safe }}
          </div>
        </div>
        <div class ="col-12">
            <h2> Mars Hemispheres</h2>
        </div>
  </div>
</div>
<div class = "container-fluid padding">
  <div class = "row padding">

   {% for hemispheres in mars.hemisphere_data %}
    <div class=".col-xs-4.col-md-6">
      <div class = "card text-center">
        <img class="card-img-top" src="{{ hemispheres['url']}}" style = "max-width:100%; max-height; auto;"/>
        <div class = "card-body">
          <h4 class="card-title">{{hemispheres['title']}}</h4>
        </div>
      </div>
    </div>
   {% endfor %}
  </div>
 </div>
</div>
  </body>
</html>